.adminButton {
    background-color: antiquewhite;
    min-width: 8rem;
    min-height: 5rem;
}

.header{
    background-color: black;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    z-index: 1;
}

.carruselImagen {
    max-height: 80vh;
    max-width: 100vw
}

@media only screen and (max-width: 420px) {
    .centrarCarrusel {
      margin-top: 20vh;
    }
}