.loginForm {
    justify-self: center;
    align-self: center;
    padding-top: 15vh;
    min-width: 68vw
}

@media only screen and (min-width: 992px) {
    .loginForm {
        align-self: center;
        min-width: 25vw;
    }
 }