.card {
    width: 20rem;
    background-color: rgb(218, 237, 174);
}

.card-title {
    text-align: center;
}

.cardBotonesContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0.2rem;
    margin-bottom: 0.5rem;
}