.card-title {
    display: inline;
    text-align: center;
}

.cardBotonesContainer {
    margin-bottom: 0.5rem;
}

.card-body {
    padding: 0.5rem;
}

.ajustesBtn {
    padding: 0;
}

.editarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background-color: rgb(213, 223, 232);
}

@media only screen and (min-width: 992px) {
    
    .card-text {
        display: flex;
        flex-direction: row;
    }

    .sponsoreados {
        display: flex;
        justify-content: space-between;
    }

    .editarTorneos {
        float: right;
    }
 }